.navbar{
    width: 100%; margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 750px;
}
.navbar img{
    max-width: 50%; max-height: 100px;
}
.navbar-links{
    width: 100%; margin-top: 14px;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}