.homePageCard{
    max-width: 900px; margin-left: 90px; margin-right: 90px; margin-top: 25px; margin-bottom: 30px; padding:20px; padding-left: 80px; padding-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
}
.homepageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    font-size: 18px; color: rgb(38, 38, 38);
    margin-bottom: 16px;
}

#paper_ref{
    margin-left: 14px;
    margin-top: 12px;
    font-size: small;
}

.small_pic{
    margin-top: 12px;
     margin-left: 12px;
    margin-bottom: 10px;
    border-radius: 10%;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 280px;
}
.underLI{
    margin-left: 12px;
    margin-top: 12px;
}
strong{
    font-weight: 500;
}
h2{
    margin-top: 20px;
    margin-bottom: 0px;
}
.subtitle{
    font-weight: 450;
    font-size: large;
    margin-top: 14px;
}
.subsubtitle{
    font-weight: 350;
    font-size: medium;
}