
<div id="profilePlotContainer">
    <mat-card class="visualsCard">
        <div id="backContainer">
            <button mat-icon-button [routerLink]="'../../checkjob/token/' + token">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back_ios"></mat-icon>
            </button>
        </div>
        <div *ngIf="dataForVisuals?.job" style="margin-bottom: 24px;">
            <h2 style=" margin-bottom: 10px;">Job info</h2>
            <div id="jobInfoCont">
                <span><b>Job name:</b> {{ dataForVisuals?.job?.job_name  || 'NA' }}</span>
                <span><b>Submitted at:</b> {{ dataForVisuals?.job?.date || 'NA' }}</span>
                <span><b>Transcript id:</b> {{ dataForVisuals?.job?.ssRNA_id  || 'NA' }}</span>
            </div>
            <hr style="margin-top: 20px; margin-bottom: 24px;"/>
        </div>

        <div *ngIf="loading" class="spinnerDiv">
            <mat-spinner></mat-spinner>
        </div>
        
        <div *ngIf="!loading" id="visualsDiv">

            <div id="addingDBDButtonDiv">
                <h2>DBDs</h2>
                <div class="dbdContainer">
                    <div *ngFor="let dbd of selectedDBDs;  index as i" 
                        class="DBD"
                        (mouseenter) ="mouseHoverDBD(i, true)"  (mouseleave) ="mouseHoverDBD(i, false)">
                        <p style="margin-top: 12px; margin-left: 2px;">
                            {{dbd[0]+1}} - {{dbd[1]+1}}
                        </p>
                        <mat-icon  (click)="removeDBD(i)"
                            style="margin-left: 3px;  transform: scale(0.6); cursor: pointer;" 
                            aria-hidden="false" fontIcon="highlight_off"></mat-icon>
                    </div>
                    <p *ngIf="selectedDBDs.length==0">
                        No DBD specified
                    </p>
                </div>
                <div class="dbdContainer">
                    <button *ngIf="!isAddingDBD" type="button" mat-stroked-button (click)="addDbdMode()" style="height: 28px;">
                        Specify DBDs
                    </button>
                    <button *ngIf="!isAddingDBD && selectedDBDs.length>0" type="button" mat-stroked-button style="height: 28px; margin-left: 14px;">
                        Go do DBD details
                    </button>
                    <button *ngIf="isAddingDBD" type="button" mat-stroked-button (click)="addDbdMode()" style="height: 28px;">
                        Stop adding DBDs
                    </button>
                </div>
            </div>

            <p style="margin-bottom: -3px;">Max stability threshold</p>
            <mat-slider
                *ngIf="!loading"
                    id="minStabilitySlider"
                    [max]="maxAvailableStability"
                    min="0"
                    step="0.1"
                    discrete="false"
                    [matTooltip]="'Threshold: ' + minStability">
                    <input  matSliderThumb [(ngModel)]="minStability" (change)="updateProfilePlot()" >
            </mat-slider>

            <div *ngIf="isAddingDBD" id="addDBDButtonDiv">
                <h2>Select an area in the plot to add a DBD</h2>
            </div>
            <div class="containsPlot" [ngClass]="{'withTransparency' : updating}" 
            id="uniquePlotDiv" [ngStyle]="{height: height + 'px'}"></div>
        </div>
</mat-card>
</div>
