<div class="submitJobContainer">
<mat-card class="submitJobCard">
<form [formGroup]="formGroup" (ngSubmit)="submitForm()" novalidate>
    <!-- Section 1: Input data -->
    <section>
      <h3>Input Data</h3>
      <mat-list role="list">
        <mat-list-item class="line" role="listitem">
            <mat-label>ssRNA*</mat-label>
            <button class="fileButton" type="button" mat-stroked-button (click)="fileInput.click()">Choose File</button>
            <input hidden formControlName="ssRNA" #fileInput type="file" (change)="onRnaChange($event)">
            <span class="file-name">{{pathToName(formGroup.value.ssRNA)}}</span></mat-list-item>
        <mat-list-item class="line" role="listitem">
            <mat-label>dsDNA*</mat-label>
            <button class="fileButton" type="button" mat-stroked-button (click)="fileInput2.click()">Choose File</button>
            <input hidden formControlName="dsDNA" #fileInput2 type="file" (change)="onDnaChange($event)">
            <span class="file-name">{{pathToName(formGroup.value.dsDNA)}}</span>
        </mat-list-item>
      </mat-list>
    </section>
  
    <!-- Section 2: Job info -->
    <section>
      <h3>Job Info</h3>
      <p class="notTooBig">
        You can write your email to receive a notification once the job is completed and to retrieve your previous jobs; you can also name your job to easily identify it.
      </p>
      <mat-form-field class="smallInput">
        <mat-label>Job Name</mat-label>
        <input matInput formControlName="jobName">
      </mat-form-field>
      <mat-form-field class="smallInput">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </section>
  
    <!-- Section 3: 3plex parameters -->
    <section>
        <mat-accordion>
            <mat-expansion-panel style="max-width: 650px;" class="mat-elevation-z0">
              <mat-expansion-panel-header>
                    <mat-panel-title>
                    <span class="right">Additional 3plex parameters</span>
                    </mat-panel-title>
              </mat-expansion-panel-header>

            <mat-list role="list">
                <mat-list-item style="height:50px !important" class="line" role="listitem">
                    <div class="row">
                        <p>Min len</p>
                        <mat-form-field class="smallInput">
                            <input matInput type="number" formControlName="min_len" placeholder="default">
                        </mat-form-field>
                    </div>
                </mat-list-item>
                <mat-list-item style="height:50px !important" class="line" role="listitem">
                    <div class="row">
                        <p>Max len</p>
                        <mat-form-field class="smallInput">
                            <input matInput type="number" formControlName="max_len" placeholder="default">
                        </mat-form-field>
                    </div>
                </mat-list-item>
                <mat-list-item style="height:50px !important" class="line" role="listitem">
                    <div class="row">
                        <p>Error rate</p>
                        <mat-form-field class="smallInput">
                            <input matInput type="number" formControlName="error_rate" placeholder="default">
                        </mat-form-field>
                    </div>
                </mat-list-item>
            <mat-list-item style="height:50px !important" class="line" role="listitem">
                <div class="row">
                    <p>Guanine len</p>
                    <mat-form-field class="smallInput">
                        <input matInput type="number" formControlName="guanine_rate" placeholder="default">
                    </mat-form-field>
                </div>
            </mat-list-item>
            <mat-list-item style="height:50px !important" class="line" role="listitem">
                <div class="row">
                    <p>Consecutive errors</p>
                    <mat-form-field class="smallInput">
                        <input matInput type="number" formControlName="consecutive_errors" placeholder="default">
                    </mat-form-field>
                </div>
            </mat-list-item>
            <mat-list-item style="height:50px !important" class="line" role="listitem">
                <div class="row">
                    <p>SSTRAND</p>
                    <mat-form-field class="smallInput">
                        <input matInput type="number" formControlName="SSTRAND" placeholder="default">
                    </mat-form-field>
                </div>
            </mat-list-item>
            <!--Filter repeat on off-->
            <mat-list-item style="height:50px !important" class="line" role="listitem">
                <div class="row">
                    <p>Guanine rate</p>
                    <mat-button-toggle-group formControlName="guanine_rate" name="fontStyle" aria-label="Font Style" style="margin-right: 20px;">
                        <mat-button-toggle value="on">On</mat-button-toggle>
                        <mat-button-toggle value="off">Off</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </mat-list-item>
            <mat-list-item style="height:50px !important" class="line" role="listitem">
                <div class="row">
                    <p>Reset all to default</p>
                    <button type="button" mat-stroked-button (click)="reset_triplex_params()">Reset</button>
                </div>
            </mat-list-item>
            </mat-list>
            

    </mat-expansion-panel>
    </mat-accordion>
    </section>

    <div style="margin-top: 15px; width:100%; display:flex; justify-content: end;">
        <button mat-raised-button type="submit" style="margin-right: 15px;">Submit job</button>
    </div>
  </form>
</mat-card>
</div>