<div class="submitJobContainer">
	<mat-card class="submitJobCard">
		<div *ngIf="sending" class="spinnerDiv">
			<mat-spinner></mat-spinner>
		</div>
		<div id="jobDescription">
			<h3>Triplex prediction</h3>
			<p>Run 3plex with a given ssRNA sequence and a set of dsDNA sequences</p>
			<p>The tool outputs triplex formations. Data can be downloaded raw or be explored interactively</p>
			
		</div>
		<form  [formGroup]="formGroup" (ngSubmit)="submitForm()" novalidate [ngClass]="{'transparentForm' : sending}">
			<fieldset [disabled]="sending" style="border: 0ch;">
				<!-- Section 1: Input data -->
				<section>
					<h4>Input Data</h4>
					<div class="verticalInputSection">
						<!--Species selection-->
						<app-job-species-field
							[allowed_species]="allowed_species"
							[formGroup]="formGroup"
							[sending]="sending"
						></app-job-species-field>
						
						<div class="horizontalInputSection">
							<!--ssRNA field-->
							<app-jss-rna-field
								(ssRNAFile_emitter)="setssRNA_file($event)"
								[formGroup]="formGroup"
								[sending]="sending"
								[ssRNAMaxSize]="ssRNAMaxSize"
  							></app-jss-rna-field>
							
							<div class="verticalInputSection">
								<div class="paramNameContainer">
									<h3>dsDNA*</h3>
									<mat-icon [matTooltip]="dsDNAToolTip" matTooltipPosition="above"
									aria-hidden="false" aria-label="Example home icon" fontIcon="help_outline"></mat-icon>
								</div>
								<mat-radio-group style="margin-bottom: 20px;"  formControlName="dsDNA_chosen_type" aria-label="Select an option">
									<mat-radio-button value="t"  [disabled]="!formGroup.get('selected_species')?.value"
									[matTooltip]="formGroup.get('selected_species')?.value ? '' : 'Please select a species first'"
									matTooltipPosition="above">Choose a target</mat-radio-button>
									<mat-radio-button value="s">Provide your own sequence(s)</mat-radio-button>
								</mat-radio-group>
								
								<div class="verticalInputSection" style="margin-left: 15px;">
									<!--Section to Choose a target site-->
									<p *ngIf="formGroup.get('dsDNA_chosen_type')?.value=='s'">Upload a multi-fasta file or a .bed file</p>
									<div class="fileInputSection" *ngIf="formGroup.get('dsDNA_chosen_type')?.value=='s'">
										<button class="fileButton" type="button" mat-stroked-button (click)="fileInput2.click()">Choose File</button>
										<input hidden #fileInput2 type="file" (change)="onDnaChange($event)">
										<span class="file-name">{{pathToName(formGroup.value.dsDNA)}}</span>
										<mat-icon (click)="reset_selected_dsDNA()" style="margin-left: 3px; transform: scale(0.7); cursor: pointer;" *ngIf="pathToName(formGroup.value.dsDNA)" aria-hidden="false" fontIcon="highlight_off"></mat-icon>
									</div>
									<mat-error  
										*ngIf="formGroup.get('dsDNA')?.value?.split('.')?.pop()=='bed' && !formGroup.get('selected_species')?.value">
										A species must be selected in order to use .bed format
									</mat-error>
									
									
									<!--dsDNA target sequences-->
									<mat-form-field style="width: 300px;" 
									*ngIf="formGroup.get('dsDNA_chosen_type')?.value=='t'"
									[matTooltip]="formGroup.get('selected_species')?.value ? '' : 'Please select a species first'"
									matTooltipPosition="above">
									<mat-label>dsDNA target sites</mat-label>
									<mat-select [disabled]="!formGroup.get('selected_species')?.value">
											<mat-option 
											*ngFor="let t of dsDnaTargetSites[formGroup.get('selected_species')?.value ?? '']" 
											value="t"
											(click)="dnaTargetSearchSelectOption(t)">
											{{t.toString()}}
											<mat-icon (click)="dsDNAhelpClicked($event, t)" [matTooltip]="'Show details'" matTooltipPosition="above"
											aria-hidden="false" aria-label="Example home icon" fontIcon="help_outline"></mat-icon>
										</mat-option>
									</mat-select>
									</mat-form-field>

									<!--use randomization-->
									<div class="paramNameContainer"
										style="margin-top: 24px; margin-bottom: 0px; padding: 0px;">
										<h3>Use randomized target dsDNA</h3>
										<mat-icon [matTooltip]="randomizationToolTip" matTooltipPosition="above"
										aria-hidden="false" aria-label="Example home icon" fontIcon="help_outline"></mat-icon>
									</div>
									<div class="paramNameContainer"
										style="margin-bottom: 0px; padding: 0px;">
											<mat-slide-toggle style="margin-top: 16px; margin-left: 15px;" 
											formControlName="use_random">
												Randomized dsDNA
											</mat-slide-toggle>
											<mat-form-field style="margin-left: 18px;">
												<mat-label>N. iterations</mat-label>
												<mat-select [disabled]="!formGroup.get('use_random')?.value"
												formControlName="random_iterations">
												<mat-option *ngFor="let n_iter of n_iterations_possible" [value]="n_iter">
													{{n_iter}}
												</mat-option>
												</mat-select>
											</mat-form-field>			
									</div>
														  
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- Section 2: Job info -->
		<app-job-info-form
			[formGroup]="formGroup"
			[sending]="sending"
		></app-job-info-form>
		
		<!-- Section 3: 3plex params-->
		<app-triplex-params-form
			[default_triplex_params]="default_triplex_params"
			[formGroup]="formGroup"
			[sending]="sending"
		></app-triplex-params-form>
		
		<div style="margin-top: 15px; width:100%; display:flex; justify-content: end;">
			<button [disabled]="!formGroup.valid" mat-raised-button type="submit" style="margin-right: 15px;">Submit job</button>
		</div>
	</fieldset>
</form>
</mat-card>
</div>