<div class="submitJobContainer">
	<mat-card class="submitJobCard">
		<div *ngIf="sending" class="spinnerDiv">
			<mat-spinner></mat-spinner>
		</div>
		<div id="jobDescription">
			<h3>Promoter stability test</h3>
			<p>This test does something</p>
			<p>Only god and chiara cicconetti know what this really does</p>
		</div>
		<form  [formGroup]="formGroup" (ngSubmit)="submitForm()" novalidate [ngClass]="{'transparentForm' : sending}">
			<fieldset [disabled]="sending" style="border: 0ch;">
				<!-- Section 1: Input data -->
				<section>
					<h4>Input Data</h4>
					<div class="verticalInputSection">
						<!--Species selection-->
						<app-job-species-field
							[allowed_species]="allowed_species"
							[formGroup]="formGroup"
							[sending]="sending"
						></app-job-species-field>
						
						<div class="horizontalInputSection">
							<!--ssRNA section-->
							<app-jss-rna-field
								(ssRNAFile_emitter)="setssRNA_file($event)"
								[formGroup]="formGroup"
								[sending]="sending"
								[ssRNAMaxSize]="ssRNAMaxSize"
  							></app-jss-rna-field>

							<!--Putative genes-->
							<app-genes-list
								[formGroup]="formGroup"
								[sending]="sending"
								[title]="'Putative genes'"
								[toolTip]="'List of putative genes'"
								[formControlName]="'putativeGenes'"
							></app-genes-list>
							<!--Target genes-->
							<app-genes-list
								[formGroup]="formGroup"
								[sending]="sending"
								[title]="'Background genes'"
								[toolTip]="'List of background genes'"
								[formControlName]="'backgroundGenes'"
							></app-genes-list>
						</div>
                    </div>
		        </section>
		
		<!-- Section 2: Job info -->
		<app-job-info-form
			[formGroup]="formGroup"
			[sending]="sending"
		></app-job-info-form>
		
		<!-- Section 3: 3plex params-->
		<app-triplex-params-form
			[default_triplex_params]="default_triplex_params"
			[formGroup]="formGroup"
			[sending]="sending"
		></app-triplex-params-form>
		
		<div style="margin-top: 15px; width:100%; display:flex; justify-content: end;">
			<button [disabled]="!formGroup.valid" mat-raised-button type="submit" style="margin-right: 15px;">Submit job</button>
		</div>
	</fieldset>
</form>
</mat-card>
</div>