<div class="submitJobContainer">
	<mat-card class="submitJobCard">
		<div *ngIf="sending" class="spinnerDiv">
			<mat-spinner></mat-spinner>
		</div>
		<div id="jobDescription">
			<h3>Promoter stability test</h3>
			<p>This workflow allows the integration of gene expression data to characterise the triplex-forming potential of the investigated ssRNA.</p>
			<p>Starting from a list of the "universe of genes" (e.g., all the expressed genes in the system) and a list of genes of interest (e.g., differentially expressed genes identified upon a lncRNA KD):</p>
			<p>1. retrieve the promoters associated with the genes as annotated in MANE</p>
			<p>2. run 3plex with a given ssRNA and the set of promoters</p>
			<p>3. compare the stability of the putative triplexes formed with promoters of genes of interest and all the remaining genes with a Mann-Whitney test</p>
			<p>4. perform a gene set enrichment analysis ranking the universe of genes according to their triplex stability score thus computing the significance of the enrichment in promoters with a high or a low stability score</p>
		</div>
		<form  [formGroup]="formGroup" (ngSubmit)="submitForm()" novalidate [ngClass]="{'transparentForm' : sending}">
			<fieldset [disabled]="sending" style="border: 0ch;">
				<!-- Section 1: Input data -->
				<section>
					<h4>Input Data</h4>
					<div class="verticalInputSection">
						<!--Species selection-->
						<app-job-species-field
							[allowed_species]="allowed_species"
							[formGroup]="formGroup"
							[sending]="sending"
						></app-job-species-field>
						
						<div class="horizontalInputSection">
							<!--ssRNA section-->
							<app-jss-rna-field
								(ssRNAFile_emitter)="setssRNA_file($event)"
								[formGroup]="formGroup"
								[sending]="sending"
								[ssRNAMaxSize]="ssRNAMaxSize"
  							></app-jss-rna-field>

							<!--Putative genes-->
							<app-genes-list
								[formGroup]="formGroup"
								[sending]="sending"
								[title]="'Background genes'"
								[toolTip]="'List of background genes'"
								[formControlName]="'allGenes'"
							></app-genes-list>
							<!--Target genes-->
							<app-genes-list
								[formGroup]="formGroup"
								[sending]="sending"
								[title]="'Genes of interest'"
								[toolTip]="'List of genes. Must be subset of background genes.'"
								[formControlName]="'interestGenes'"
							></app-genes-list>
						</div>
                    </div>
		        </section>
		
		<!-- Section 2: Job info -->
		<app-job-info-form
			[formGroup]="formGroup"
			[sending]="sending"
		></app-job-info-form>
		
		<!-- Section 3: 3plex params-->
		<app-triplex-params-form
			[default_triplex_params]="default_triplex_params"
			[formGroup]="formGroup"
			[sending]="sending"
		></app-triplex-params-form>
		
		<div style="margin-top: 15px; width:100%; display:flex; justify-content: end;">
			<button [disabled]="!formGroup.valid" mat-raised-button type="submit" style="margin-right: 15px;">Submit job</button>
		</div>
	</fieldset>
</form>
</mat-card>
</div>