<div class="checkJobContainer">
    <mat-card class="checkJobCard">
        <h2 style=" margin-bottom: 0px;">Job with token:</h2>
        <h3 style="background-color: rgb(216, 223, 228);">{{token}}</h3>
        <hr style="width:90%"/>

        <div *ngIf="onError==true" class="centered">
            <h3 style="color: red; margin-bottom: 0px;">Cannot retrieve job data</h3>
            <h3>{{errorMessage}}</h3>
        </div>
        
        <div *ngIf="jobData==undefined && onError==false" class="centered">
            <h3>Loading...</h3>
        </div>

        <div *ngIf="jobData != undefined" class="centered">
          <h2 *ngIf="jobData.state == 'Failed'" style="color: rgb(212, 0, 0);">Job has failed</h2>
          <h4 *ngIf="jobData.state == 'Failed'" >Check the logs in the files below</h4>
            <h2 style=" margin-bottom: 0px;">Job info</h2>
            <mat-list>
                  <mat-list-item *ngIf="jobData.state != 'Failed'">
                      <span matListItemTitle><b>State:</b> {{ jobData.state }}</span>
                  </mat-list-item>
                  <mat-list-item>
                      <span matListItemTitle><b>Submitted at:</b> {{ jobData.date || 'NA' }}</span>
                  </mat-list-item>
                  <mat-list-item>
                    <span matListItemTitle><b>Job name:</b> {{ jobData.job_name  || 'NA' }}</span>
                  </mat-list-item>
                  <mat-list-item *ngIf="jobData.ssRNA_id">
                    <span matListItemTitle><b>Transcript id:</b> {{ jobData.ssRNA_id  || 'NA' }}</span>
                  </mat-list-item>
                  <mat-list-item *ngIf="jobData.species">
                    <span matListItemTitle><b>Species:</b> {{ jobData.species  || 'NA' }}</span>
                  </mat-list-item>
                  <mat-list-item>
                    <span *ngIf="jobData.email_address" matListItemTitle><b>Job email:  </b> <a target="_blank" [href]="'checkjobs/email/'+ jobData.email_address">{{ jobData.email_address || 'NA'  }} </a>
                    </span>
                    <span *ngIf="!jobData.email_address" matListItemTitle><b>Job email:  </b> NA
                    </span>
                  </mat-list-item>
              </mat-list>

              <div *ngIf="jobData.state=='Submitted'" style="margin-top: 30px;">
                <h4>This page will be automatically updated until the job is completed</h4>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>

              <div *ngIf="jobData.triplex_params" style="width: 100%; max-width: 500px; margin-top: 15px; margin-bottom: 30px;">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="false">
                      <mat-expansion-panel-header>
                            <mat-panel-title>
                            <span class="right">3plex parameters</span>
                            </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div>
                        <div class="spacedListItem" *ngFor="let param of triplex_params(); let last = last">
                            <div class="smallSpacedList" >
                                <span matListItemTitle><b>{{ param[0] }}:</b></span>
                                <a>{{ param[1] }}</a>
                            </div>
                            <hr *ngIf="!last"/>
                        </div>
        
                    </div>
                    </mat-expansion-panel>
                </mat-accordion>
              </div>

              <div *ngIf="jobData.state == 'Ready'" style="margin-bottom: 30px;">
                <button type="button" mat-raised-button [routerLink]="'../../../data_visualization/' + token" style=" min-width: 340px;">
                  Visualize data
                </button>
              </div>

              <div *ngIf="files && files.length > 0">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true" style="min-width: 650px; max-width: 700px;">
                      <mat-expansion-panel-header>
                            <mat-panel-title>
                            <span class="right">Data</span>
                            </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div>
                        <div class="spacedListItem" *ngFor="let key of files">
                            <div class="spacedList" >
                                <span matListItemTitle><b>{{ key }}:</b></span>
                                <a [href]="jobData.results[key]" target="_blank">Download</a>
                            </div>
                        </div>
                    </div>
                    </mat-expansion-panel>
                </mat-accordion>
              </div>

        </div>
    </mat-card>
</div>