.visualsCard{
    width: 90%;
    margin-left: 90px; margin-right: 90px; margin-top: 25px; margin-bottom: 30px; padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profilePlotContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#plotDiv{
    margin-left: 10px; margin-right: 10px;
    width: 90%;
    margin-bottom: 0px; padding-bottom: 0px;
}

#minStabilitySlider{
    width: 70%; max-width: 500px;
    margin-top: 0px; padding-top: 0px;
}

.withTransparency{
    opacity: 0.5;
}

h4{
    margin-top: 15px;
}