
<div id="profilePlotContainer">
    <mat-card class="visualsCard">
        <div id="backContainer">
            <button mat-icon-button [routerLink]="'/checkjob/token/' + token">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back_ios"></mat-icon>
            </button>
        </div>
        <div *ngIf="dataForVisuals?.job" style="margin-bottom: 24px; max-width: 90%;">
            <h2 style=" margin-bottom: 10px;">Job info</h2>
            <div id="jobInfoCont">
                <span><b>Job name:</b> {{ dataForVisuals?.job?.job_name  || 'NA' }}</span>
                <span><b>Submitted at:</b> {{ dataForVisuals?.job?.date || 'NA' }}</span>
                <span><b>Transcript id:</b> {{ dataForVisuals?.job?.ssRNA_id  || 'NA' }}</span>
            </div>
            <hr style="margin-top: 20px; margin-bottom: 24px;"/>
        </div>

        <div *ngIf="loading" class="spinnerDiv">
            <mat-spinner></mat-spinner>
        </div>
        
        <div *ngIf="!loading" id="visualsDiv">
            <div id="addingDBDButtonDiv">
                <h2>DBDs</h2>
                <div class="dbdContainer">
                    <div *ngFor="let dbd of selectedDBDs;  index as i" 
                        [ngClass] = "dbdForViewing == i ? 'SelectedDBD' : 'DBD'"
                        (mouseenter) ="mouseHoverDBD(i, true)"  (mouseleave) ="mouseHoverDBD(i, false)"
                        (click) = "onDBDSelected(i)">
                        <p style="margin-top: 12px; margin-left: 2px;"
                        [matTooltip]="'Click to modify DBD'"  matTooltipPosition="above" >
                            {{dbd[0]}} - {{dbd[1]}}
                        </p>
                        <mat-icon *ngIf="!isViewingDBD"  (click)="removeDBD(i)"
                            style="margin-left: 3px;  transform: scale(0.6); cursor: pointer;" 
                            aria-hidden="false" fontIcon="highlight_off"></mat-icon>
                        <mat-icon *ngIf="isViewingDBD" 
                            style="margin-left: 3px;  transform: scale(0.6);" 
                            aria-hidden="false" fontIcon="info"></mat-icon>
                    </div>
                    <p *ngIf="selectedDBDs.length==0">
                        No DBD specified
                    </p>
                </div>
                <div class="dbdContainer">
                    <button *ngIf="!isAddingDBD && !isViewingDBD" type="button" mat-stroked-button (click)="addDbdMode()" style="height: 28px;">
                        Specify DBDs
                    </button>
                    <button *ngIf="!isAddingDBD && selectedDBDs.length>0 && !isViewingDBD" (click)="viewDBDDetails()" type="button" mat-stroked-button style="height: 28px; margin-left: 14px;">
                        View DBD details
                    </button>
                    <button *ngIf="isViewingDBD" (click)="stopViewDBDDetails()" type="button" mat-stroked-button style="height: 28px; margin-left: 14px;">
                        Exit DBD view
                    </button>
                    <button *ngIf="isAddingDBD" type="button" mat-stroked-button (click)="addDbdMode()" style="height: 28px;">
                        Stop adding DBDs
                    </button>
                </div>
            </div>
            <div id="stickyTop">
            <p style="margin-top: 10px; margin-bottom: -3px; font-size: large;">Min stability threshold</p>
            <div style="display:flex; flex-direction: row; min-width: 400px; align-items: center; justify-content: space-between;">
                <mat-slider
                    *ngIf="!loading"
                        id="minStabilitySlider"
                        [max]="maxAvailableStability"
                        min="0"
                        step="0.1"
                        discrete="false"
                        [matTooltip]="'Threshold: ' + minStability">
                        <input  matSliderThumb [(ngModel)]="minStability" (change)="updateProfilePlot()" >
                </mat-slider>
                <input [(ngModel)]="minStability" style="width: 36px; height: 20px;"/>
            </div>

            <div *ngIf="dsDNAID" style="margin-top: 14px; margin-bottom: 16px;">
                <span style="font-size: large; font-weight: 450;">Results restricted to: {{dsDNAID}}</span>
                <a target="_blank" [href]="'data_visualization/'+ token" style="margin-left: 12px; font-size: large;">Back to full results</a>
            </div>
            </div>

            <div *ngIf="isAddingDBD" id="addDBDButtonDiv">
                <h2>Select an area in the plot to add a DBD</h2>
            </div>
            <div class="containsPlot" [ngClass]="{'withTransparency' : updating}" 
            id="uniquePlotDiv" [ngStyle]="(isViewingDBD) ? {height: '260px'} :  {height: height + 'px'}"></div>

            <div *ngIf="isViewingDBD" style="width:100%">
                <app-dbd-details
                    [setDbd]="dbdForViewing>=0 ? selectedDBDs[dbdForViewing] : null"
                    [stability]="minStability"
                    [token]="token"
                    [profileLinearY]="profileLinearY"
                    [randomizationAverage]="randomizationAverage"
                    [randomizationVariance_]="randomizationVariance"
                    [fullSequence]="fullSequence"
                    [dsDNAID]="dsDNAID"
                ></app-dbd-details>
            </div>
            <div *ngIf="!isViewingDBD && !dsDNAID" style="margin-top: 24px;">
                <app-summary-web-table [token]="token"></app-summary-web-table>
            </div>
            <div *ngIf="!isViewingDBD && dsDNAID" style="margin-top: 24px;">
                <div id="openUCSCContainer">
                    <div *ngIf="loadingUCSC" class="spinnerDiv">
                        <mat-spinner></mat-spinner>
                    </div>
                    <button [disabled]="loadingUCSC" (click)="openUCSC()" type="button" mat-stroked-button style="height: 32px; width: 300px; margin-left: 14px;">
                        Open in genome browser
                    </button>
                </div>
                <hr style="width: 80%;">
                <div id="allTPXExportContainer">
                    <button (click)="export_tpx()" type="button" mat-stroked-button style="height: 32px; width: 300px; margin-left: 14px; margin-top: 20px;">
                        Export in excel
                    </button>
                </div>
                <div id="allTPXContainer">
                    <h2>All TPX table</h2>
                </div>
                <app-full-tpx-table *ngIf="filteredTPX" (onRowClicked)="highlightRegion($event)" [tpx]="filteredTPX"></app-full-tpx-table>
            </div>
        </div>
</mat-card>
</div>
