<div id="dbdDetailsContainer">
    <div *ngIf="dbd==null">
        <h4>Select a DBD to see details</h4>
    </div>
    <div *ngIf="dbd!=null">
        <h4>Selected DBD: {{dbd[0]}}-{{dbd[1]}}</h4>
        <p>{{fullSequence.slice(dbd[0], dbd[1]).join(' ')}}</p>
        <hr/>
        <div *ngIf="this.randomizationAverage.length>0" id="pValueAndBoxPlotDiv">
            <h4>TTS count - actual dsDNA compared to randomized tracks</h4>
            <div>
                <p>p-value: {{toFixed(pValue)}}</p>
                <div id="boxplotDBD" style="width:40%;"></div>
            </div>
        </div>

    </div>
</div>